:root {
  --color-background: #494f5c;
  --color-background-darker: #3b3e48;
  /* --color-background-soft: var(--vt-c-white-soft); */
  /* --color-background-mute: var(--vt-c-white-mute); */

  --color-border: #7d828a;
  /* --color-border-hover: var(--vt-c-divider-light-1); */

  /* --color-heading: var(--vt-c-text-light-1); */
  --color-text: #e8eef2;
  --color-text-dim: rgba(232, 238, 242, 0.6);

  --color-primary: #fff;

  --small-spacing: 1rem;
  --normal-spacing: 2rem;
  --large-spacing: 4rem;

  --font-light: 200;
  --font-normal: 400;
  --font-bold: 700;

  --font-size-medium: 2.2rem;
  --font-size-large: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 1.6rem;
  line-height: 2rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--normal-spacing);
}

h1 {
  margin-bottom: var(--large-spacing);
  line-height: 1.3em;
}
